body{
    overflow-x:hidden;
    background: url("../images/back1.jpg");
    background-repeat: no-repeat;
    opacity: 1;
}

.style-btn{

background-color: #0084b4;
border-color: #0084b4;

}

.glyphicon.glyphicon-picture, .glyphicon.glyphicon-th, .glyphicon.glyphicon-refresh, .glyphicon.glyphicon-resize-small , .glyphicon.glyphicon-log-in ,.glyphicon.glyphicon-unchecked, .glyphicon.glyphicon-th-large,.glyphicon-chevron-left,.glyphicon-chevron-right{
    font-size: 25px;
    margin-right: -2px;
    color: white;
}

.hideFilter{
  visibility: hidden;
}

.thumbnail {
  background: transparent;
}

#thumbhide{
  visibility: hidden;
  border: 1;
}

#footer{
  margin-top: 10%;
}



@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;

    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}

.container-img{
	height: 100%;
}

.titulo-search , .footer-style{
	text-align: center;
	font-weight: bold;
}

.row div a img{
  /*width: 300px;*/
   height: 500px;
}



.nav-parent, .nav-parent nav{
position: relative;

}


.twitts-box{

  overflow-y: scroll;
  max-height: 100vh;


}

::-webkit-scrollbar {
display: none;
}

.img-instruccion img{
  max-height: 100%;
  max-width: 100%;
}

.img-instruccion{
  visibility: visible;
}

/*.carrousel-izq{

}

.carrousel-der{

}*/

.row .twitts-box .btn-izq{
  display: flex;
  flex-direction:row;

}

.row .twitts-box .btn-der{
  display: flex;
  flex-direction:row-reverse;

}


.row .twitts-box li{
  width: 0px;
  height: 0px;
}

.row .twitts-box li{
  width: 0px;
  height: 0px;
}

/*Animaciones*/

/*#imagejson{
    animation-name:scale;
    animation-duration: 1s;
    animation-delay: linear;
}*/

.imagesca{
    animation-name:scale;
    animation-duration: 1s;
    animation-delay: linear;
}

.imagerot{
    animation-name:rotation;
    animation-duration: 1s;
    animation-delay: linear;
}

.imagetran{
    animation-name:translate;
    animation-duration: 1s;
    animation-delay: linear;
}

@keyframes rotation{
  from {transform:rotate(0deg);}
  to{transform:rotate(360deg);}
}

@keyframes scale{
  from {transform:scale(2);}
  to{transform:scale(1);}
}

@keyframes translate{
  from {transform:translateX(-500px);}
  to{transform:translateX(0px);}
}
